
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    background-image: url(../photosrc/Banner-compressed.jpg);
    background-repeat: no-repeat;
    height: 708px;
    background-size: cover;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 95px;
    width: 102.7px;
}
.nav-li,.nav-ul,a{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.nav-li a:hover{
    color: #3375EC;
}
.sign:hover{
    color: #3375EC;
    border: 1px solid #3375EC;
}
.fa-bars{
    color: white;
    display: none;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.sign{
    background-color: transparent;
    outline: none;
    color: white;
    border: 1px solid white;
    border-radius: 16px;
    font-size: 15px;
    padding: 10px 26px;
    font-weight: 500;
}
.banner-content{
    /* background-color: red; */
    display: flex;
    width: 70%;
    margin: 80px 0px 0px 350px;
}
.fa-horizontal-rule{
    background-color: white;
    height: 2px;
    width: 140px;
    margin-top: 30px;
}
header{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.small-content{
    color: white;
    font-size: 22px;
    margin: 50px 0px;
    width: 60%;
}
#read{
    font-size: 16px;
    background-color: white;
    outline: none;
    border:  none;
    color: #262F3C;
    border-radius: 22px;
    padding: 10px 21px;
}
#read:hover{
    background-color: #3375EC;
    color: white;
    cursor: pointer;
}
#contact{
    font-size: 16px;
    background-color: #3375EC;
    outline: none;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 22px;margin-left: 20px;
}
#contact:hover{
    background-color: #dc3545;
    cursor: pointer;
}
/* banner-ends-here */
@media (max-width:480px){
    .banner{
        height: 300px;
    }
    .banner-content{
        /* background-color: red; */
        width: 80%;
        margin: 40px auto;
    }
    .fa-horizontal-rule{
        display: none;
    }
    .nav-ul a{
        font-size: 8px;
    }
    nav{
        justify-content: space-between;
        padding: 0px 10px;
        height: 60px;
    }
    .nav-ul{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sign{
        font-size: 12px;
        padding: 5px;
        border-radius: 4px;
    }
    header{
        font-size: 20px;
    }
    .small-content{
        font-size: 12px;
        width: 100%;
        margin: 10px 0px;
    }
    #read,#contact{
        font-size: 12px;
    }
    .logo{
        height: 50px;
        width: 60px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .banner{
        height: 300px
    }
    header{
        font-size: 24px;
    }
    .small-content{
        font-size: 12px;
        width: 90%;
        margin: 10px 0px;
    }
    #read,#contact{
        font-size: 12px;
    }
    .banner-content{
        /* background-color: red; */
        width: 60%;
        margin: 0px auto;
    }
    .nav-ul{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sign{
        font-size: 12px;
        padding: 5px;
        border-radius: 4px;
    }
    nav{
        justify-content: space-between;
        padding: 0px 10px;
        height: 60px;
    }
    .logo{
        height: 50px;
        width: 52px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .nav-ul{
        width: 70%;
    }
    .banner-content{
        margin: 60px auto;
    }
    .small-content{
        width: 100%;
    }
    .fa-bars{
        display: none;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .nav-ul{
        width: 70%;
    }
    .banner-content{
        margin: 70px auto;
        width: 70%;
    }
    .fa-bars{
        display: none;
    }
}
@media (min-width:1201px){
    .nav-ul{
        width: 60%;
    }
    .banner-content{
        margin: 70px auto;
        width: 60%;
    }
    .fa-bars{
        display: none;
    }
}
/* our services strts here */
.services-container{
    margin: 80px 0px;
}
.our-services-title{
    font-size: 12px;
    color: #3375EC;
    background-color: #E5EBF7;
    width: fit-content;
    padding: 10px 28px;
    border-radius: 12px;
    margin: auto;
}
.what-we-do{
    font-size: 39px;
    margin: 20px auto;
    width: fit-content;
}
.services-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    width: 90%;
    margin: 0px auto;
    place-items: center;
}
.service-card{
    width: 309px;
    height: 302px;
    padding: 60px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  2.53px 7.6px 8.45px rgba(0, 0, 0, 0.25);
}
.fa-desktop,.fa-chart-line,.fa-person-chalkboard,.fa-chalkboard-user,.fa-list-ol,.fa-magnifying-glass,.fa-comment-dollar,.fa-building{
    font-size: 50px;
    color: #3375EC;
}
.service-title{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;
}
.about-service{
    font-size: 18px;
    color: #8491A5;
    text-align: center;
}
@media (max-width:480px){
    .service-card{
        width: 250px;
    }
    .about-service{
        font-size: 14px;
    }
    .services-card-wrapper{
        width: 100%;
    }

}
@media (min-width:481px) and (max-width:768px){
    .services-card-wrapper{
        width: 100%;
    }
    .fa-desktop,.fa-chart-line,.fa-person-chalkboard,.fa-chalkboard-user,.fa-list-ol,.fa-magnifying-glass,.fa-comment-dollar,.fa-building{
        font-size: 40px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .services-card-wrapper{
        grid-template-columns: auto auto auto auto;
        /* width: 100%; */
    }
    .service-card{
        height: 302px;
        width: 309px;
    }
}
@media(min-width:1201px){
    .service-card{
        width: 270px;
    }
}
/* about us part starts here */
.about{
    background-color: #3375EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0px;
}
.img {
    background-image: url(../photosrc/about-compressed.jpg);
    height: 422px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.about header{
    font-size: 39px;
    font-weight: 400;
    margin: 25px 0px;
}
.title{
    font-size: 12px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px 27px;
    border-radius: 12px;
}
.details{
    font-weight: 17px;
    color: white;
    width: 60%;
}
.abt-container{
    width: 600px;
}
.about-list{
    margin-left: 20px;
    color: white;
    margin-top: 25px;
}
.list{
    padding: 10px;
}
.read-btn{
    background-color: white;
    border: none;
    color: #262F3C;
    padding: 10px 31px;
    border-radius: 22px;
    margin-top: 25px;
    font-size: 14px;
}
.read-btn:hover{
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}
@media (max-width:480px){
    .about{
        display: block;
        padding: 20px;
    }
    .img{
        width: 100%;
        height: 200px;
    }
    .about header{
        font-size: 20px;
        margin: 10px 0px;
    }
    .details{
        font-size: 10px;
        width: 30%;
    }
    .list{
        padding: 5px;
    }
    .read-btn,.about-list{
        font-size: 12px;
        margin-top: 10px;
    }
    .title{
        margin-top: 10px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .about{
        display: block;
        padding: 20px;
    }
    .img{
        width: 100%;
        height: 200px;
    }
    .about header{
        font-size: 24px;
        margin: 10px 0px;
    }
    .details{
        font-size: 14px;
        width: 50%;
    }
    .list{
        padding: 5px;
    }
    .read-btn,.about-list{
        font-size: 14px;
        margin-top: 10px;
    }
    .title{
        margin-top: 10px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .about{
        display: flex;
        align-items: center;
        padding: 80px 10px;
    }
    .img {
        height: 400px;
        width: 400px;
    }
    .about header{
        font-size: 30px;
    }
    .details{
        font-weight: 16px;
        color: white;
        width: 100%;
    }
    .abt-container{
        width: 60%;
        padding: 0px 0px 0px 50px;
    }
    .about-list{
        margin-top: 20px;
    }
    .list{
        padding: 10px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .abt-container{
        width: 400px;
    }
    .details{
        width: 100%;
    }
}
@media (min-width:1201px){
    .abt-container{
        width: 500px;
    }
    .details{
        width: 100%;
    }
}


/* why us starts here */
.why-img{
    background-image: url(../photosrc/why-us-compress.jpg);
    width: 600px;
    height: 434px;
    background-size: cover;
}
.why-us-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 0px;
}
.why-details-container{
    width: 600px;
}
.why-header{
    color: black;
    font-weight: 400;
    font-size: 39px;
    margin: 25px 0px;
}
.why-title{
    font-size: 12px;
    background-color: #E5EBF7;
    padding: 12px 27px;
    border-radius: 16px;
    width: fit-content;
    color: #3375EC;
}
.why-details{
    color: #8491A5;
    font-size: 17px;
    width: 60%;
}
.why-ul{
    margin-left: 20px;
    margin-top: 25px;
}
.why-li{
    color: #3375EC;
    font-size: 17px;
    padding: 10px;
}
.why-li div{
    color: black;
    font-weight: 600;
}
@media (max-width:480px){
    .why-us-container{
        display: block;
        padding: 10px;
        margin: 40px 0px;
    }
    .why-img{
        height: 200px;
        width: 100%;
    }
    .why-details-container{
        margin-bottom: 20px;
    }
    .why-header{
        font-size: 20px;
        width: 40%;
    }
    .why-details,.why-li{
        font-size: 12px;
        width: 40%;
    }
}
@media (min-width:481px) and (max-width:768px){
    .why-us-container{
        display: block;
        padding: 10px;
        margin: 20px 0px;
    }
    .why-img{
        height: 200px;
        width: 100%;
    }
    .why-details-container{
        margin-bottom: 20px;
    }
    .why-header{
        font-size: 24px;
        width: 60%;
        margin: 20px 0px;
    }
    .why-details,.why-li{
        font-size: 16px;
        width: 80%;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .why-header{
        font-size: 30px;
    }
    .why-details{
        font-size: 16px;
        width: 100%;
    }
    .why-us-container{
        padding: 0px 10px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .why-details-container{
        width: 50%;
    }
    .why-details{
        width: 100%;
    }
    .why-img{
        width: 500px;
    }
}
@media (min-width:1201px){
    why-details-container{
        width: 50%;
    }
    .why-details{
        width: 100%;
    }
    .why-img{
        width: 600px;
    }
}

/* what we work starts here */
.our-work-container{
    background-image: url(../photosrc/what-we-work-compress.jpg);
    height: 504px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.our-work-content{
    height: fit-content;
    width: 600px;
    margin-right: 50px;
}
.our-work-title{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 12px;
    width: fit-content;
    padding: 10px;
    border-radius: 51px;
    font-weight: 500;
}
.our-work-header{
    font-size: 39px;
    color: white;
    margin: 25px 0px;
    font-weight: 500;
}
.our-work-detail{
    color: white;
    font-size: 17px;
}
@media (max-width:480px){
    .our-work-container{
        justify-content: center;
        align-items: center;height: 300px;
    }
    .our-work-header{
        font-size: 20px;
        margin: 10px 0px;
    }
    .our-work-detail{
        font-size: 12px;
        margin: 20px 0px;
    }
    .our-work-content{
        margin: 0px;
        padding: 10px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .our-work-container{
        justify-content: center;
        align-items: center;height: 300px;
    }
    .our-work-header{
        font-size: 24px;
        margin: 10px 0px;
    }
    .our-work-detail{
        font-size: 12px;
        margin: 20px 0px;
    }
    .our-work-content{
        margin: 0px;
        padding: 10px;
    }
}
/* company register starts here */
.c-reg-img{
    background-image: url(../photosrc/company-registeraion-compressed.jpg);
    height: 400px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.com-reg-title{
    font-size: 12px;
    color: #3375EC;
    background-color: #E5EBF7;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 16px;
}
.com-header{
    font-size: 39px;
    color: black;
    font-weight: 400;
    margin: 25px 0px;
}
.com-det-one,.com-det-two{
    font-size: 17px;
    color: #8491A5;
}
.com-det-two{
    margin: 25px 0px;
}
.register-btn{
    color: white;
    background-color: #3375EC;
    font-size: 14px;
    border: none;
    padding: 10px 22px;
    border-radius: 22px;
}
.register-btn:hover{
    background-color: #dc3545;
    cursor: pointer;
}
.c-reg-cont{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px;
}
.com-reg-detail{
    width: 600px;
}

@media(max-width:480px){
    .c-reg-cont{
        flex-direction: column;
        margin: 10px 0px;
        padding: 10px;
    }
    .c-reg-img{
        width: 100%;
        height: 200px;
        margin: 10px auto;
    }
    .com-det-one,.com-det-two{
        font-size: 12px;
        margin: 10px 0px;
        width: 40%;
    }
    .com-header{
        font-size: 20px;
        margin: 10px 0px;
        width: 50%;
    }
    .register-btn{
        font-size: 12px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .c-reg-cont{
        flex-direction: column;
        margin: 10px 0px;
        padding: 10px;
    }
    .c-reg-img{
        width: 100%;
        height: 200px;
        margin: 10px auto;
    }
    .com-det-one,.com-det-two{
        font-size: 16px;
        margin: 10px 0px;
        width: 80%;
    }
    .com-header{
        font-size: 24px;
        margin: 10px 0px;
        width: 50%;
    }
    .register-btn{
        font-size: 12px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .com-header{
        font-size: 30px;
    }
    .c-reg-cont{
        padding: 40px 10px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .com-reg-detail{
        width: 50%;
    }
    .c-reg-img{
        width: 500px;
    }
}
@media (min-width:1201px){
    .com-reg-detail{
        width: 40%;
    }
    .c-reg-img{
        width: 500px;
    }
}
/* company register ends here */

/* have any quesion starts here */
.que-container{
    background-color: rgba(51, 117, 236, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}
.que-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}
.h-line{
    margin: 0px;
    height: 1px;
}
.que-txt{
    font-size: 14px;
    color: white;
    margin: 10px 0px;
}
.r-btn{
    padding: 12px 40px;
    margin: 0px 10px;
}
@media (max-width:480px){
    .que-header{
        font-size: 18px;
    }
    .que-txt{
        text-align: center;
        width: 90%;
    }
    .h-line{
        display: none;
    }
}
/* have any question ends here */
.pro-txt div{
    font-size: 24px;
    font-weight: 500;
    margin: 0px auto;
    width: fit-content;
}
.pro-txt{
    font-size: 14px;
}
.proj-cos-con{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
@media (max-width:480px){
    .pro-txt div{
        font-size: 18px;
    }
    .pro-txt{
        text-align: center;
        font-size: 12px;
    }
}

/* accounting training starts  */
.act-container{
    background-color: #3375EC;
    padding: 40px 0px;
}
.guide-txt{
    font-size: 24px;
    background-color: rgba(229, 235, 247, 0.2);
    color: white;
    padding: 10px 40px;
    border-radius: 38px;
    width: fit-content;
    margin: auto;
}
.act-con-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
}
.act-img{
    background: url(../photosrc/account-imgcompresssed.jpg) no-repeat;
    height: 420px;
    width: 600px;
    background-size: cover;
}
.act-detail{
    width: 600px;
    height: fit-content;
}
.act-title{
    font-size: 12px;
    background-color: rgba(229, 235, 247, 0.2);
    border-radius: 16px;
    color: white;
    padding: 10px 27px;
    width: fit-content;
}
.act-header{
    font-size: 39px;
    margin: 10px 0px;
    color: white;
}
.act-txt{
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}
.course-ul{
    margin: 10px 0px 10px 20px;
}
.course-li{
    color: white;
}
.nxt-stp-txt{
    font-size: 17px;
    color: white;
}
@media (max-width:480px){
    .act-container{
        margin: 0px;
        padding: 10px;
    }
    .guide-txt{
        font-size: 18px;
        text-align: center;
    }
    .act-con-wrapper{
        display: block;
        padding: 10px;
    }
    .act-img{
        height: 300px;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }
    .act-header{
        font-size: 18px;
    }
    .act-txt{
        font-size: 12px;
        width: 40%;
    }
    .nxt-stp-txt{
        font-size: 12px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .act-con-wrapper{
        display: block;
        padding: 10px;
    }
    .act-img{
        height: 300px;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }
    .act-title{
        margin: 20px 0px;
    }
    .act-header{
        font-size: 24px;
    }
    .act-txt{
        font-size: 16px;
    }
    .nxt-stp-txt{
        font-size: 16px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .act-detail{
        /* background-color: red; */
        padding-left: 20px;
    }
    .act-con-wrapper{
        padding: 0px 10px;
        margin-top: 20px;
    }
    .act-header{
        font-size: 30px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .act-img{
        width: 450px;
    }
    .act-detail{
        width: 50%;
    }
}
@media (min-width:1201px){
    .act-img{
        width: 500px;
    }
    .act-detail{
        width: 50%;
    }
}
/* accounting ends here */
.act-tra{
    background-color: rgba(229, 235, 247, 1);
}
@media (max-width:480px){
    .pro-txt{
        font-size: 10px;
        width: 20%;
    }
}

/* our team starts here */
.our-team-title{
    font-size: 12px;
    color: #3375EC;
    padding: 10px 28px;
    border-radius: 12px;
    background-color: rgba(229, 235, 247, 1);
    width: fit-content;
    margin: 0px auto;
}
.our-team-header{
    font-size: 39px;
    color: black;
    margin: 20px auto;
    width: fit-content;
}
.team-card{
    /* width: 265px; */
    /* height: 312px; */
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.team-img{
    height: 227px;
    width: 265px;
    background-image: url(../photosrc/pexels-christina-morillo-1181690-compress.jpg);
    background-size: cover;
    background-position: center;
}
.team-two{
    background-image: url(../photosrc/pexels-andrea-piacquadio-3769021-compress.jpg);
}
.team-three{
    background-image: url(../photosrc/pexels-fauxels-3184611-compress.jpg);
}
.team-four{
    background-image: url(../photosrc/pexels-moose-photos-1586996-compress.jpg);
}
.team-name{
    font-size: 22px;
    color: #262F3C;
    margin: 10px auto;
}
.team-pos{
    font-size: 14px;
    color: #8491A5;
    margin: 0px auto;
}
.team-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    place-items: center;
    width: 80%;
    row-gap: 20px;
}
.view-btn{
    margin-top: 30px;
}
.our-team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
@media (max-width:480px){
    .our-team-header{
        font-size: 18px;
    }
    .team-card{
        width: 240px;
    }
    .team-card-wrapper{
        width: 100%;
        grid-gap: 10px;
    }
    .team-img,.team-two,.team-three,.team-four{
        width: 240px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .our-team-header{
        font-size: 24px;
    }
    .team-card-wrapper{
        /* background-color: red; */
        width: 100%;
    }
    .team-img,.team-two,.team-three,.team-four{
        width: 240px;
    }
}
@media (min-width:1024px){
    .team-card-wrapper{
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
        width: 100%;
    }
    .team-img,.team-two,.team-three,.team-four{
        width: 220px;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .team-card-wrapper{
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }
    .team-img,.team-two,.team-three,.team-four{
        width: 240px;
    }
}
@media (min-width:1201px){
    .team-card-wrapper{
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }
    .team-img,.team-two,.team-three,.team-four{
        width: 265px;
    }
}
/* voice of ceo starts here */
.voice-title{
    color: white;
    font-size: 12px;
    background-color: rgba(229, 235, 247, 0.2);
    width: fit-content;
    padding: 10px 27px;
    border-radius: 16px;
}
.voice-header{
    font-size: 39px;
    color: white;
    margin: 20px 0px;
}
.voice-txt{
    font-size: 17px;
    color: white;
}
.CEO-name{
    font-size: 17px;
    color: white;
    margin: 20px 0px 0px 80px;
}
.fa-dash{
    width: 20px;
    height: 2px;
    background-color: white;
}
.ceo,.ceo-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.voice-con{
    background-color: #3375EC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.voice-img{
    background-image: url(../photosrc/CEO2.png);
    background-repeat: no-repeat;
    height: 545px;
    width: 500px;
    background-size: cover;
}
.voice-details{
    width: 482px;
}
.voi-read-btn{
    background-color: white;
    border: none;
    color: #3375EC;
    padding: 10px 31px;
    border-radius: 22px;
    margin-top: 10px;
    font-size: 14px;
}
.ceo span{
    font-weight: 600;
}
@media (max-width:480px){
    .voice-img{
        display: none;
    }
    .voice-details{
        padding: 10px;
    }
    .voice-header{
        font-size: 28px;
    }
    .voice-txt{
        font-size: 14px;
    }
    .ceo,.ceo-title{
        display: block;
        text-align: center;
    }
}
@media (min-width:481px) and (max-width:768px){
    .voice-img{
        display: none;
    }
    .voice-details{
        padding: 10px;
    }
    .voice-header{
        font-size: 28px;
    }
    .voice-txt{
        font-size: 16px;
    }
    .ceo,.ceo-title{
        display: block;
        text-align: center;
    }
}

/* testimonial starts here */
.profile-wrap img{
    height: 99px;
    width: 99px;
    border-radius: 100%;
    border: 4px solid #3375EC;
}
.tes-title{
    font-size: 12px;
    background-color: rgba(229, 235, 247, 1);
    color: #3375EC;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 12px;
    width: fit-content;
}
.tes-header{
    font-size: 39px;
    margin: 20px 0px;
}
.profile-con{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.profile-wrap{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.testimon-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
.comment{
    text-align: center;
    margin: 20px 0px;
    font-size: 14px;
    color: #8491A5;
}
.fa-angle-left,.fa-angle-right{
    color: #3375EC;
    margin-top: 80px;
}
@media (max-width:480px){
    .tes-header{
        font-size: 24px;
        text-align: center;
    }
    .profile-wrap,.profile-con{
        width: 90%;
    }
}
@media (min-width:481px) and (max-width:768px){
    .tes-header{
        font-size: 24px;
        text-align: center;
    }
    .profile-wrap,.profile-con{
        width: 90%;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .profile-wrap,.profile-con{
        width: 80%;
    }
}

/* footer starts here */
footer{
    background-color: rgba(246, 246, 250, 1);
    padding: 80px 80px 30px 80px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.first-row{
    display: flex;
}
.row{
    display: flex;
    flex-direction: column;

}
.footer-links{
    margin: 10px 0px;
    color: #8491A5;
    display: flex;
    align-items: center;
}
.footer-links a{
    color: #8491A5;
}
.fa-location-dot,.fa-phone,.fa-envelope{
    color: black;
    margin-right: 5px;
}
.fo-header{
    display: flex;
    align-items: center;
    font-size: 22px;
}
.email{
    border: none;
    background-color: #3375EC;
    padding: 10px 0px 10px 37px;
    margin: 10px 0px;
    outline: none;
    color: white;
}
.email::placeholder{
    color: white;
}
.sub{
    border: none;
    outline: none;
    background-color: white;
    color: #8491A5;
    padding: 10px;
    border: 1px solid #3375EC;
}
.copywright{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    font-size: 14px;
    color: #8491A5;
    margin-top: 150px;
}
.fa-facebook,.fa-instagram,.fa-twitter,.fa-linkedin{
    font-size: 24px;
    color: #0E5D97;
}
@media (max-width:480px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(auto-fill);
        gap: 20px;
    }
    footer{
        padding: 20px;
    }
    .f-logo{
        display: none;
    }
    .copywright{
        margin: 50px 0px 10px;
        width: 100%;
    }
}
@media (min-width:481px) and (max-width:768px){
    .footer-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    footer{
        padding: 20px;
    }
    .f-logo{
        display: none;
    }
    .copywright{
        margin: 50px 0px 10px;
        width: 80%;
    }
    .footer-links a,.footer-links{
        font-size: 12px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .footer-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 0px;
    }
    footer{
        padding: 40px 0px 0px;
    }
    .fo-header{
        font-size: 19px;
    }
    .footer-links,.footer-links a{
        font-size: 15px;
    }
    .f-logo{
        display: none;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    footer{
        padding: 80px 0px 0px 0px;
    }
}
@media (min-width:1201px){
    footer{
        padding: 80px 0px 0px 10px;
    }
}
/* footer ends here */
