@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
html,body{
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.nav-li,.nav-li a{
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    color: #2c243b;
}
.logo{
    height: 8.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    /* background-color: #3375ec; */
}
.nav-li a:hover{
    color: #3375EC;
}
.sign:hover{
    color: #3375EC;
    border: .1rem solid #3375EC;
}
.fa-bars{
    color: white;
    font-style: 1.6rem;
}
.btn{
    display: none;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-ul{
    display: flex;
    gap: 6rem;
}
.nav-li a:hover,.sign:hover{
    color: #3375ec;
}
.sign{
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 1.6rem;
    background-color: transparent;
    border: 0.1rem solid ;
}
.active a{
    color: #3375EC;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #3375ec;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: white;
    padding: 1rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-btn:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{
    background-color: crimson;
    color: white;
}

/* banner starts here */
.banner{
    background-color: #3375ec;
    padding: 10rem;
}
.banner-header{
    font-size: 3.9rem;
    text-align: center;
    padding: 1rem;
    font-weight: 60rem;
    color: white;
    max-width: 40%;
    margin: 0rem auto;
}